* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    width: 300px;
}

.screen {
    height: 100px;
    background-color: #44475a;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}

.calculator{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

.calculator__row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
}

.equals {
    grid-column: 3 / span 2;
}

.calculator__key {
    height: 60px;
    background-color: #44475a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}